---
---

@import "{{ site.theme }}";


/* Make footer stick to bottom */

.pagination, footer {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

#wrapper {
  min-height: calc(100vh - 100px);
}
